@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mono-0 {
    --mono: 0;
  }

  .mono-55 {
    --mono: 0.55;
  }

  .mono-100 {
    --mono: 1;
  }

  .CRSV-1 {
    --CRSV: 1;
  }
}

:root {
  --blanc: 255 255 255;
  --bleu: 61 77 179;

  --mono: 0;
  --CRSV: 0;
}

* {
  font-variation-settings: 'MONO' var(--mono), 'CRSV' var(--CRSV);
}

html {
  @apply scroll-smooth;
}

body {
  color: rgb(var(--blanc));
  background: rgb(var(--bleu)) url('/images/noise.png') repeat;
  @apply selection:bg-white selection:text-[#3645a1];
}
